/**************/
/* BASE RULES */
/**************/
:root {
    --bg-color: #d8d8d8;
    --fg-color: #333
}

html {
    font-size: 100%;
    height: 100%;
}

/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
*/
body {
    background: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 1.333;
    color: #333;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 30px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;
}

@media screen and (max-width: 640px) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.4;
    }
}

h1 {
    font-size: 34px;
    margin-top: 60px;
    font-weight: 400;
}

h1 a {
    color: inherit;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: #666;
}

p {
    margin: 15px 0;
}

a {
    color: #4183C4;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:active {
    color: #00b3ff;
    text-decoration: underline;
}

ul, ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
    margin: 0;
}

ul ul, ol ul {
    list-style-type: circle;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.gmnoprint img {
    max-width: none;
}

.date {
    font-style: italic;
    color: #666;
    margin-bottom: 8px;
}

::-moz-selection {
    color: #000;
    background: #eee;
}

::selection {
    color: #000;
    background: #eee;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.wrapper-masthead {
    margin-bottom: 50px;
}

.masthead {
    padding: 30px 0;
    /* border-bottom: 1px solid #eee; */
}

.site-avatar {
    float: left;
    width: 92px;
    height: 72px;
    margin-right: 15px;
}

@media screen and (max-width: 640px) {
    .site-avatar {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-avatar img {
    border-radius: 5px;
}

.site-info {
    float: left;
}

@media screen and (max-width: 640px) {
    .site-info {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin: 0;
    color: #333;
    cursor: pointer;
    font-weight: 600;
    font-size: 26px;
}

.site-description {
    margin: -5px 0 0 0;
    color: #666;
    font-size: 14px;
}

@media screen and (max-width: 640px) {
    .site-description {
        margin: 3px 0;
    }
}

nav {
    float: right;
    margin-top: 16px;
    font-size: 18px;
}

@media screen and (max-width: 640px) {
    nav {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }
}

nav a {
    margin-left: 20px;
    color: #333;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
    nav a {
        margin: 0 10px;
        color: #4183C4;
    }
}

.posts > .post {
    /*     padding-bottom: 2em; */
    /*     border-bottom: 1px solid #eee; */
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid #666;
    padding: 0.1em 1em;
    color: #666;
    font-size: 22px;
    font-style: italic;
}

.post .comments {
    margin-top: 10px;
}

.post .read-more {
    text-transform: uppercase;
    font-size: 15px;
}

.wrapper-footer {
    /* position: relative; */
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    height: 90px;
}

footer {
    padding: 20px 0;
    text-align: center;
}

p.gallery {
    margin: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

p.gallery img {
    margin-bottom: 4px;
    max-width: 100%;
    overflow: hidden
}

p.gallery img:not(:last-of-type) {
    margin-right: 4px
}

.portfolio-entry p.cover {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--bg-color);
}

.tag {
    padding: 2px 6px;
    border-radius: 2px;
    background-color: var(--bg-color);
    color: white;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .7em;
}

article.portfolio .tag {
    position: relative;
    bottom: 102px;
    left: 4px;
}

article.portfolio:first-of-type .tag {
    bottom: 124px;
}

article.portfolio-entry .tag {
    position: absolute;
    top: 24px;
    right: 30px;
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.wrapper-masthead {
    /* padding-bottom: 300px; */
}

#main {
    position: relative;
    /* top: -300px; */
    /* margin-bottom: -300px */
}

header.masthead * {
    color: var(--fg-color)
}

h1 {
    color: var(--fg-color)
}

hr {
    border: 0;
    border-bottom: 2px solid var(--bg-color)
}

#main > .posts, #main > .portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px 30px;
    /* row-gap column gap */
}

#main > .posts > article, #main > .portfolio > article {
    min-width: calc(50% - 15px);
    max-width: calc(50% - 15px);
    flex: 1;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--bg-color);
}

#main > .posts > article:first-of-type, #main > .portfolio > article:first-of-type {
    min-width: 100%;
}

#main > .posts > article:first-of-type {
    margin-bottom: 5em
}

#main > .portfolio > article:first-of-type p.cover {
    margin-left: -30px;
    margin-right: -30px;
}

#main > .portfolio > article h3 {
    margin-bottom: 0
}

#main > .portfolio > article a {
    color: var(--bg-color)
}

#main > .posts > article:first-of-type:before, #main > .portfolio > article:first-of-type:before {
    content: "NEW";
    display: flex;
    margin-left: auto;
    margin-bottom: -40px;
    margin-top: -20px;
    margin-right: 4px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(-6deg)
}

#main > .posts > article:first-of-type:before {
    margin-left: auto;
    margin-bottom: -220px;
    margin-top: 160px;
    background-color: var(--fg-color);
    color: var(--bg-color);
}

#main > .posts > a > h1 , #main > .portfolio > h1 {
    margin-bottom: -6px;
    margin-top: 11px
}

#main > .portfolio > article:first-of-type:before {
    content: "NEW";
    display: flex;
    margin-left: auto;
    margin-bottom: -40px;
    margin-top: -20px;
    margin-right: 4px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(-6deg)
}

body:before {
    content: "";
    display: block;
    position: absolute;
    height: 67vh;
    width: 100%;
    background-color: var(--bg-color);
    z-index: -1000;
}

@media screen and (max-width: 640px) {
    .masthead nav {
        margin-left:-10px;
        margin-top: 12px;
        margin-bottom: -9px;
    }

    .site-name {
        font-size: 18px
    }

    #main > .posts > article, #main > .portfolio > article {
        min-width: 100%;
        max-width: 100%
    }
}
/*  */
